@import "tailwindcss";

@theme {
  --color-smoke-text: #E2E1F5;
  --color-secondary-text: #CDC2D7;
  --color-ghost-text: #4B4455;
  --color-dark-bg: #111220;
  --color-black-bg: #0C0D1B;
  --color-box-bg: #333443;
  --color-player-bg: #191A29;
  --color-background: #1A1B2A;
  --color-dark-purple: #420089;
  --color-purple: #7421DC;
  --color-pink: #D6BAFF;
  --color-yellow: #FFBA4B;
  --color-draw: #0984e3;
  --color-ghost-text: #968DA1;
  --color-ghost-bg: rgba(255,255,255,0.03);
}

@custom-variant hoverable (@media (hover: hover));
@custom-variant portrait (@media (orientation: portrait));
@custom-variant dt (@media (min-aspect-ratio: 14/9) and (orientation: landscape));
@custom-variant lt (@media (max-aspect-ratio: 14/9) and (orientation: landscape));
@custom-variant pt (@media (min-aspect-ratio: 9/14) and (orientation: portrait));
@custom-variant mb (@media (max-aspect-ratio: 9/14) and (orientation: portrait));

* {
  box-sizing: border-box;
}

body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  min-height: 100dvh;
  overflow-x: hidden;
  background-color: var(--color-dark-bg);
}
